.titlepane{
	-fx-background-color: #2262C6;
	-fx-border-color:#ffffff;
}
.body{
	-fx-background-color: #3f51b5;
}
.label1{
	-fx-text-fill: #ffffff;
	-fx-font-size:14;
}
.button1{
	-fx-background-color:
 		linear-gradient(#f0ff35,#a9ff00),
 		radial-gradient(center 50% -40%,radius 200%,#b8ee36,#80c800 50%);
	 -fx-background-radius: 6, 5;
     -fx-background-insets: 0, 1;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
}
.button1:hover{
	-fx-text-fill:black;
}
.button1:pressed{
	-fx-text-fill:#ffffff;
	-fx-background-color:#6200EE;
}
.info{
	-fx-background-color:transparent;
	-fx-border-color:#ffffff;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-text-fill:white;
}
